@model MovieApplication.Models.Customer

@{
    ViewBag.Title = "Delete Customers";
}

<h2>Delete Customers</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr/>
    <dl>
        <dt>
            <label>First Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <label>Last Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            <label>Phone</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>

</div>


 @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
